# Q1.Try 5 Different functions of the String in Python.

In [5]:
string = "Mary had a little lamb"

In [6]:
string

'Mary had a little lamb'

In [7]:
n= "Navi Mumbai"

In [8]:
# Concatinate the String together -> 
string +" "+n

'Mary had a little lamb Navi Mumbai'

In [9]:
#Using different function of Strings
string.index("h")

5

In [11]:
string.index(" ")

4

In [7]:
string.endswith("e")

False

In [8]:
string.endswith("b")

True

In [9]:
string.count("a")

4

In [14]:
s1="hello"
s1.islower()

True

In [15]:
string.split()

['Mary', 'had', 'a', 'little', 'lamb']

In [16]:
string.strip()

'Mary had a little lamb'

# Try 5 Different functions of the List object in Python

In [25]:
l=['R','Python','SAS','Scala',42,53,60,'Java','Cpp',1,4,3,'R']

In [26]:
type(l)

list

In [27]:
#Using different function of List
l.count('R')

2

In [28]:
l.index('Java')

7

In [33]:
l.insert(2,'Object')

In [34]:
l

['Python',
 'R',
 'Object',
 'SAS',
 'Scala',
 42,
 53,
 60,
 'Java',
 'Cpp',
 1,
 4,
 3,
 'R']

In [36]:
l.append('LetsUpgrade')
l

['Python',
 'R',
 'Object',
 'SAS',
 'Scala',
 42,
 53,
 60,
 'Java',
 'Cpp',
 1,
 4,
 3,
 'R',
 'LetsUpgrade',
 'LetsUpgrade']

In [37]:
l.pop(2)

'Object'

In [38]:
l.remove('R')

In [39]:
l

['Python',
 'SAS',
 'Scala',
 42,
 53,
 60,
 'Java',
 'Cpp',
 1,
 4,
 3,
 'R',
 'LetsUpgrade',
 'LetsUpgrade']

# Experiment with at least 5 default functions of Dictionary

In [40]:
data={'Name':'Bob marley','Age':35,'Height':"5.6 ft",'Hobby':'Music'}
print(data)

{'Name': 'Bob marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [42]:
data['Name']

'Bob marley'

In [43]:
data.get('Hobby')

'Music'

In [44]:
print(data.keys())

dict_keys(['Name', 'Age', 'Height', 'Hobby'])

In [45]:
#get list of values
print(data.values())

dict_values(['Bob marley', 35, '5.6 ft', 'Music'])

In [49]:
data.pop('Age')

35

In [50]:
data

{'Name': 'Bob marley', 'Height': '5.6 ft', 'Hobby': 'Music'}

In [51]:
new_dictionary=dict(Country='Jamaica',Songs=['One Love','Misty Morning'])

In [52]:
data.update(new_dictionary)
print(data)

{'Name': 'Bob marley', 'Height': '5.6 ft', 'Hobby': 'Music', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}